# Notebook inicial EDA llamadas de emergencia 123 
-------------------------------------------------

In [2]:
#importar liberarias
import pandas as pd
import os
from pathlib import Path

In [12]:
root_dir=Path('.').resolve().parent
#root_dir es la carpeta "madre" 030922. Path('.').resolve() indica donde estamos parados
file_name="llamadas123_julio_2022.csv"

file_path=os.path.join(root_dir, "data","row", file_name) #cada concatenacion se hace con //
file_path

'C:\\Users\\ASUS\\Documents\\Especializacion_Big_Data_Analitica\\I_Semestre\\LHBD\\030922\\data\\row\\llamadas123_julio_2022.csv'

In [14]:
 df =pd.read_csv(file_path,sep=";", encoding="latin-1") #sep es el separador y latin-1 para espa√±ol utf8 ingles.n_row muestra de la tabla para evitar consumir memoria por ser tan grande el archivo
# no modifica el archivo llamadas 123 (inicial) cuando se le asigna una variable (data frame alias df) ese archivo si se puede modificar
df.head() #por defecto primeras 5 filas
df.head(10) #primeras 10 filas
df.shape #  devuelve un un tupla
df.shape[0] #la cantidad de filas
type(df.shape) 
type(df.shape [0])

int

In [29]:
df.dtypes #dtypes tipos de datos  se le llama esquema y si tengo la definicion de variables se llama diccionario
# buena practica que se consistente es decir estandarizar los datos
# en pandas object es un string
# pero no todos son string como edad o fecha 
#este es un ejemplo de datos sucios

NUMERO_INCIDENTE                     object
FECHA_INICIO_DESPLAZAMIENTO_MOVIL    object
CODIGO_LOCALIDAD                      int64
LOCALIDAD                            object
EDAD                                 object
UNIDAD                               object
GENERO                               object
RED                                  object
TIPO_INCIDENTE                       object
PRIORIDAD                            object
RECEPCION                            object
dtype: object

In [16]:
df["TIPO_INCIDENTE"].value_counts(normalize=True)
# df["TIPO_INCIDENTE"] trae todos los valores de la columna "TIPO_INCIDENTE"
# df["TIPO_INCIDENTE"].value_counts me trae la cantidad de veces que se repite una palabra en la columna incidente
#df["TIPO_INCIDENTE"].value_counts (normalize= True) para traer frecuencia 
df["EDAD"].value_counts() # sera necesario cambiar SIN_dATO POR NA no por 0 porque significaria un "bebe"
df["EDAD"].value_counts(normalize=True, dropna=False) # verifica si hay valores nulos en la columna  en este caso no hay

SIN_DATO    0.475144
23          0.011566
22          0.010724
30          0.010341
27          0.010264
              ...
7           0.001302
98          0.001226
9           0.001149
8           0.001072
97          0.000919
Name: EDAD, Length: 100, dtype: float64

In [47]:
df["EDAD"].unique() #devuelve valores unicos de la columna en forma de lista

array(['88', '16', '52', 'SIN_DATO', '33', '57', '65', '14', '83', '35',
       '19', '53', '56', '45', '2', '18', '34', '84', '80', '7', '64',
       '41', '28', '23', '85', '92', '38', '11', '58', '70', '50', '27',
       '67', '54', '87', '24', '90', '99', '49', '91', '21', '62', '59',
       '26', '78', '30', '32', '51', '15', '79', '37', '60', '76', '22',
       '47', '61', '82', '86', '77', '63', '39', '89', '36', '97', '40',
       '75', '13', '25', '73', '69', '72', '68', '44', '31', '74', '81',
       '43', '20', '66', '10', '48', '29', '8', '17', '94', '55', '1',
       '4', '3', '9', '71', '46', '6', '95', '93', '98', '96', '42', '5',
       '12'], dtype=object)

In [65]:
len(df["EDAD"].unique() ) #cantidad de datos. que tan larga
len(df["TIPO_INCIDENTE"].unique())

100

In [17]:
lista_columnas=df.columns
lista_columnas
lista_columnas[0] #primer
lista_columnas[-1] #ultimo
lista_columnas[0:3] #hasta el 3 sin incluir se puede hacer tambien [:3] ya que por default empieza en 0
lista_columnas[5:8]
lista_columnas

Index(['NUMERO_INCIDENTE', 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
       'CODIGO_LOCALIDAD', 'LOCALIDAD', 'EDAD', 'UNIDAD', 'GENERO', 'RED',
       'TIPO_INCIDENTE', 'PRIORIDAD', 'RECEPCION'],
      dtype='object')

In [61]:
for col in lista_columnas:
    print(col) #para cada valor en la lista de columnas imprimame el valor importante la identacion

print("fuera del loop")

NUMERO_INCIDENTE
FECHA_INICIO_DESPLAZAMIENTO_MOVIL
CODIGO_LOCALIDAD
LOCALIDAD
EDAD
UNIDAD
GENERO
RED
TIPO_INCIDENTE
PRIORIDAD
RECEPCION
fuera del loop

In [18]:
#saber cuantos valores unicos tiene en cada columna
for col in lista_columnas:
    lista_unicos=df[col].unique()
    n_unicos=len(lista_unicos)
    print(col,n_unicos)

NUMERO_INCIDENTE 12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL 12781
CODIGO_LOCALIDAD 20
LOCALIDAD 20
EDAD 100
UNIDAD 6
GENERO 3
RED 5
TIPO_INCIDENTE 21
PRIORIDAD 4
RECEPCION 5235

In [19]:
#diccionario lista de palabras que cuando se abre tiene asignado cada una un valor
dict_reporte= {} #hacer un diccionario vacio para que se vea mejor dict_reporte= dict()

for col in lista_columnas:
    lista_unicos=df[col].unique()
    n_unicos=len(lista_unicos)
    #print(col,n_unicos)
    dict_reporte[col]=n_unicos

print(dict_reporte)

{'NUMERO_INCIDENTE': 12015, 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL': 12781, 'CODIGO_LOCALIDAD': 20, 'LOCALIDAD': 20, 'EDAD': 100, 'UNIDAD': 6, 'GENERO': 3, 'RED': 5, 'TIPO_INCIDENTE': 21, 'PRIORIDAD': 4, 'RECEPCION': 5235}

In [21]:
pd.DataFrame.from_dict(dict_reporte)

ValueError: If using all scalar values, you must pass an index

In [20]:
pd.DataFrame.from_dict(dict_reporte, orient='index')

                                       0
NUMERO_INCIDENTE                   12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL  12781
CODIGO_LOCALIDAD                      20
LOCALIDAD                             20
EDAD                                 100
UNIDAD                                 6
GENERO                                 3
RED                                    5
TIPO_INCIDENTE                        21
PRIORIDAD                              4
RECEPCION                           5235

In [22]:

df_reporte=pd.DataFrame.from_dict(dict_reporte, orient='index') # buena practica ponerle una variable
df_reporte.rename({0:"conteo"}, inplace=True,axis=1) #axis 0 me muevo en filas y 1 columnas

df_reporte

                                   conteo
NUMERO_INCIDENTE                    12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL   12781
CODIGO_LOCALIDAD                       20
LOCALIDAD                              20
EDAD                                  100
UNIDAD                                  6
GENERO                                  3
RED                                     5
TIPO_INCIDENTE                         21
PRIORIDAD                               4
RECEPCION                            5235

In [23]:
out_name='reporte_'+ file_name
out_name

'reporte_llamadas123_julio_2022.csv'

In [28]:
out_path=os.path.join(root_dir,'data', 'processed', out_name)
df_reporte.to_csv(out_path)