
# Data cleaning 101

In [103]:
from pathlib import Path
import pandas as pd
import os
import numpy as np

In [104]:
root_dir=Path('.').resolve().parent
file_name="llamadas123_julio_2022.csv"
file_path=os.path.join(root_dir, "data","row", file_name) 
data=pd.read_csv(file_path,sep=";", encoding="latin-1") 
data

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29
...,...,...,...,...,...,...,...,...,...,...,...
13050,CRU-00314021-22,2022-08-08 05:31:48,14,Los M rtires,18,A¤os,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,8/08/2022 6:48
13051,CRU-00314021-22,2022-08-08 10:38:32,14,Los M rtires,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00
13052,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,11,A¤os,MASCULINO,Centro Oriente,Acompa¤amiento Evento,BAJA,9/08/2022 13:13
13053,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,19,A¤os,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00
13054,CRU-00312775-22,0000-00-00 00:00:00,9,Fontib¢n,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Accidente Cerebro Vascular,ALTA,0000-00-00 00:00:00

In [105]:
convert_dict={'NUMERO_INCIDENTE': int, 
              'FECHA_INICIO_DESPLAZAMIENTO_MOVIL': object, 
              'CODIGO_LOCALIDAD' : int,
              'LOCALIDAD': object,
              'EDAD': int }

NUMERO_INCIDENTE                     object
FECHA_INICIO_DESPLAZAMIENTO_MOVIL    object
CODIGO_LOCALIDAD                      int64
LOCALIDAD                            object
EDAD                                 object
UNIDAD                               object
GENERO                               object
RED                                  object
TIPO_INCIDENTE                       object
PRIORIDAD                            object
RECEPCION                            object
dtype: object

In [99]:
#Eliminar duplicados
print ('forma incial', data.shape)
data=data.drop_duplicates() # Encontrar filas duplicadas, desechar los duplicados y el resultado escribirlo en data
data.reset_index(inplace=True, drop=True) #definir indices de la nueva tabla, adicional inplace sobreescribe en el mismo lugar de memora
print ('forma modificada', data.shape)

forma incial (13055, 11)
forma modificada (13026, 11)

In [100]:
data.info()
data['EDAD'].dtypes=='object'
#ata[1]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13018 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

True

In [79]:
type(data.shape[1])

int

In [101]:
#data.columns.values[0]
#data.isnull()
for col in data.columns:
    if data[col].dtypes=='object':
        data[col].fillna('SIN_DATO', inplace=True)
    #if data[data.columns.values[col]].dtypes=='int64':
        
data.info()
#data['EDAD'].

C:\Users\ASUS\AppData\Local\Temp\ipykernel_3368\3036520595.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col].fillna('SIN_DATO', inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [92]:
#Tratamiento de valores nulos
# nulo de string ---> SIN_DATO, NA
# nulo de numeros --> (NULL) con numpy valor numerico tipo null
# nulo de fechas --> NaT # non asignment Time
#np.nan #non asignment number

col='UNIDAD'
#data[col]
#data[col].value_counts() #"resumen" o frecuencia absoluta
#data[col].value_counts(dropna=False) #NO botar nulos
#data[col].value_counts(dropna=False, normalize=True) # frecuenca relativa 
data[col].isnull()
data[col].fillna('SIN_DATO', inplace=True)
print(data[col].value_counts())
print(data[col].value_counts(dropna=False, inplace=True))

A¤os        6781
SIN_DATO    6195
Meses         39
Horas          6
Dias           5
Name: UNIDAD, dtype: int64

C:\Users\ASUS\AppData\Local\Temp\ipykernel_3368\3657469964.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col].fillna('SIN_DATO', inplace=True)

TypeError: value_counts() got an unexpected keyword argument 'inplace'

In [93]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [54]:
data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [94]:
date='2022-07-01 03:40:13'
#pd.to_datetime(date, errors='coerce') #si hay un error dejemelo como nulo
##formato unix
pd.to_datetime(date, errors='coerce', format='%Y/%m,%d')

NaT

In [95]:
col='FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
data[col]=pd.to_datetime(data[col], errors='coerce')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 1.1+ MB

C:\Users\ASUS\AppData\Local\Temp\ipykernel_3368\2682168891.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=pd.to_datetime(data[col], errors='coerce')

In [96]:
col= 'EDAD'
data[col]
data[col].value_counts(normalize=True)

SIN_DATO    0.474973
23          0.011515
22          0.010748
30          0.010287
27          0.010287
              ...
7           0.001305
98          0.001228
9           0.001152
8           0.001075
97          0.000921
Name: EDAD, Length: 100, dtype: float64

In [12]:
data[col].replace({'SIN_DATO': np.nan}, inplace=True)
data[col]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_3368\2664245794.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col].replace({'SIN_DATO': np.nan}, inplace=True)

0         88
1         16
2         52
3        NaN
4         33
        ...
13021     18
13022    NaN
13023     11
13024     19
13025    NaN
Name: EDAD, Length: 13026, dtype: object

In [13]:
data.info()
data[col].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               6839 non-null   object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 1.1+ MB

array(['88', '16', '52', nan, '33', '57', '65', '14', '83', '35', '19',
       '53', '56', '45', '2', '18', '34', '84', '80', '7', '64', '41',
       '28', '23', '85', '92', '38', '11', '58', '70', '50', '27', '67',
       '54', '87', '24', '90', '99', '49', '91', '21', '62', '59', '26',
       '78', '30', '32', '51', '15', '79', '37', '60', '76', '22', '47',
       '61', '82', '86', '77', '63', '39', '89', '36', '97', '40', '75',
       '13', '25', '73', '69', '72', '68', '44', '31', '74', '81', '43',
       '20', '66', '10', '48', '29', '8', '17', '94', '55', '1', '4', '3',
       '9', '71', '46', '6', '95', '93', '98', '96', '42', '5', '12'],
      dtype=object)

In [71]:
#funciones lambda
def f(x):
    resultado=x**2
    return resultado

x=4
f(x)

16

In [ ]:
f= lambda x: x**2

x=4
f(x)

In [17]:
str_num=np.nan
f= lambda x:x if pd.isna(x) else int(x)

f(str_num)

nan

In [16]:
data[col]=data[col].apply(f)
data[col]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_3368\8685277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].apply(f)

0        88.0
1        16.0
2        52.0
3         NaN
4        33.0
         ...
13021    18.0
13022     NaN
13023    11.0
13024    19.0
13025     NaN
Name: EDAD, Length: 13026, dtype: float64

In [89]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               6839 non-null   float64
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 1.1+ MB

In [90]:
#data[col].unique()

array([88., 16., 52., nan, 33., 57., 65., 14., 83., 35., 19., 53., 56.,
       45.,  2., 18., 34., 84., 80.,  7., 64., 41., 28., 23., 85., 92.,
       38., 11., 58., 70., 50., 27., 67., 54., 87., 24., 90., 99., 49.,
       91., 21., 62., 59., 26., 78., 30., 32., 51., 15., 79., 37., 60.,
       76., 22., 47., 61., 82., 86., 77., 63., 39., 89., 36., 97., 40.,
       75., 13., 25., 73., 69., 72., 68., 44., 31., 74., 81., 43., 20.,
       66., 10., 48., 29.,  8., 17., 94., 55.,  1.,  4.,  3.,  9., 71.,
       46.,  6., 95., 93., 98., 96., 42.,  5., 12.])

In [91]:
# al final del dia estamos buscando estandrizar los datos
col='RECEPCION'
data[col]

0        2022-07-01 03:40:13
1        2022-07-01 03:38:13
2        2022-07-01 04:08:24
3        0000-00-00 00:00:00
4        2022-07-01 03:25:29
                ...
13021         8/08/2022 6:48
13022    0000-00-00 00:00:00
13023        9/08/2022 13:13
13024    0000-00-00 00:00:00
13025    0000-00-00 00:00:00
Name: RECEPCION, Length: 13026, dtype: object

In [102]:
from dateutil.parser import parse
fecha='2022-07-01 03:40:13'
parse(fecha)

datetime.datetime(2022, 7, 1, 3, 40, 13)

In [94]:
conversion_fecha= lambda x: parse(x)
data[col].apply(conversion_fecha)

ParserError: year 0 is out of range: 0000-00-00 00:00:00

In [103]:
lista_fechas=list()
for fecha in data[col]:
    try:
        new_fecha=parse(fecha)
    except Exception as e:
        new_fecha=pd.to_datetime(fecha, errors='coerce')

    lista_fechas.append(new_fecha)

lista_fechas
#pd.to_datetime(data[col], errors='ignore') #intente hacer la correcion try catch

[datetime.datetime(2022, 7, 1, 3, 40, 13),
 datetime.datetime(2022, 7, 1, 3, 38, 13),
 datetime.datetime(2022, 7, 1, 4, 8, 24),
 NaT,
 datetime.datetime(2022, 7, 1, 3, 25, 29),
 NaT,
 datetime.datetime(2022, 7, 1, 4, 17, 41),
 datetime.datetime(2022, 7, 1, 5, 7),
 datetime.datetime(2022, 7, 1, 2, 37, 45),
 NaT,
 datetime.datetime(2022, 7, 1, 3, 6, 49),
 NaT,
 datetime.datetime(2022, 7, 1, 4, 30, 19),
 NaT,
 datetime.datetime(2022, 7, 1, 5, 25, 29),
 datetime.datetime(2022, 7, 1, 4, 19, 7),
 NaT,
 datetime.datetime(2022, 7, 1, 4, 39, 52),
 datetime.datetime(2022, 7, 1, 4, 35, 58),
 NaT,
 datetime.datetime(2022, 7, 1, 5, 47, 45),
 NaT,
 datetime.datetime(2022, 7, 1, 6, 1, 48),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 6, 53, 5),
 datetime.datetime(2022, 7, 1, 5, 43, 11),
 NaT,
 datetime.datetime(2022, 7, 1, 5, 35, 4),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 6, 16, 3),
 datetime.datetime(2022, 7, 1, 7, 59, 43),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 6, 45, 32),
 NaT,
 datetime.datetime(2022, 7, 1, 8, 8, 25),
 datetime.datetime(2022, 7, 1, 9, 31, 27),
 datetime.datetime(2022, 7, 1, 8, 31, 14),
 NaT,
 datetime.datetime(2022, 7, 1, 8, 21, 23),
 datetime.datetime(2022, 7, 1, 7, 16, 34),
 NaT,
 datetime.datetime(2022, 7, 1, 7, 22, 46),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 8, 53, 12),
 datetime.datetime(2022, 7, 1, 8, 42, 28),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 7, 35, 14),
 NaT,
 datetime.datetime(2022, 7, 1, 10, 2, 28),
 NaT,
 datetime.datetime(2022, 7, 1, 8, 52),
 datetime.datetime(2022, 7, 1, 9, 38, 50),
 datetime.datetime(2022, 7, 1, 10, 35, 19),
 datetime.datetime(2022, 7, 1, 8, 59, 7),
 datetime.datetime(2022, 7, 1, 10, 34, 11),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 10, 6, 51),
 NaT,
 datetime.datetime(2022, 7, 1, 13, 35, 5),
 datetime.datetime(2022, 7, 1, 11, 24, 47),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 13, 49, 49),
 datetime.datetime(2022, 7, 1, 12, 32, 29),
 NaT,
 datetime.datetime(2022, 7, 1, 10, 11, 16),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 13, 22, 7),
 datetime.datetime(2022, 7, 1, 10, 18, 38),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 10, 11, 16),
 NaT,
 datetime.datetime(2022, 7, 1, 15, 10, 11),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 13, 55, 54),
 datetime.datetime(2022, 7, 1, 12, 58, 31),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 14, 48, 20),
 datetime.datetime(2022, 7, 1, 12, 52, 33),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 13, 19, 39),
 NaT,
 datetime.datetime(2022, 7, 1, 12, 49, 28),
 NaT,
 datetime.datetime(2022, 7, 1, 12, 40, 16),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 16, 2, 36),
 datetime.datetime(2022, 7, 1, 10, 11, 38),
 NaT,
 datetime.datetime(2022, 7, 1, 13, 2, 7),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 11, 43, 14),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 13, 4, 38),
 NaT,
 datetime.datetime(2022, 7, 1, 12, 30, 39),
 datetime.datetime(2022, 7, 1, 12, 51, 9),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 13, 32, 40),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 16, 9, 46),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 14, 8, 29),
 NaT,
 datetime.datetime(2022, 7, 1, 13, 56, 23),
 NaT,
 datetime.datetime(2022, 7, 1, 16, 33, 10),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 14, 12, 35),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 14, 34, 48),
 datetime.datetime(2022, 7, 1, 15, 12, 3),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 13, 29, 3),
 datetime.datetime(2022, 7, 1, 13, 47, 25),
 NaT,
 datetime.datetime(2022, 7, 1, 15, 52, 21),
 datetime.datetime(2022, 7, 1, 15, 12, 50),
 datetime.datetime(2022, 7, 1, 15, 25, 48),
 datetime.datetime(2022, 7, 1, 13, 29, 3),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 14, 15, 50),
 datetime.datetime(2022, 7, 1, 13, 53, 8),
 datetime.datetime(2022, 7, 1, 16, 26, 31),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 15, 37, 29),
 datetime.datetime(2022, 7, 1, 16, 5),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 15, 32, 26),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 17, 50, 22),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 15, 57, 19),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 17, 34, 17),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 16, 57, 52),
 NaT,
 datetime.datetime(2022, 7, 1, 18, 37, 48),
 NaT,
 datetime.datetime(2022, 7, 1, 16, 38),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 17, 30, 42),
 NaT,
 datetime.datetime(2022, 7, 1, 15, 58, 26),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 17, 44, 26),
 NaT,
 datetime.datetime(2022, 7, 1, 16, 49, 3),
 NaT,
 datetime.datetime(2022, 7, 1, 19, 7, 40),
 datetime.datetime(2022, 7, 1, 17, 46, 28),
 datetime.datetime(2022, 7, 1, 17, 32, 55),
 NaT,
 datetime.datetime(2022, 7, 1, 20, 10, 32),
 datetime.datetime(2022, 7, 1, 17, 25, 22),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 16, 58, 1),
 NaT,
 datetime.datetime(2022, 7, 1, 17, 45, 57),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 18, 32, 39),
 datetime.datetime(2022, 7, 1, 18, 3, 7),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 18, 48, 22),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 18, 9, 31),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 18, 4, 34),
 datetime.datetime(2022, 7, 1, 19, 7, 46),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 18, 39, 19),
 datetime.datetime(2022, 7, 1, 18, 2, 14),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 18, 56, 33),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 18, 8, 34),
 NaT,
 datetime.datetime(2022, 7, 1, 17, 42, 23),
 datetime.datetime(2022, 7, 1, 21, 57, 59),
 datetime.datetime(2022, 7, 1, 18, 36, 54),
 datetime.datetime(2022, 7, 1, 18, 44, 17),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 19, 6, 35),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 22, 16, 37),
 datetime.datetime(2022, 7, 1, 22, 14, 23),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 20, 43, 38),
 datetime.datetime(2022, 7, 2, 0, 17, 29),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 20, 46, 12),
 datetime.datetime(2022, 7, 1, 20, 54, 31),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 23, 43, 16),
 datetime.datetime(2022, 7, 1, 22, 5, 34),
 NaT,
 datetime.datetime(2022, 7, 1, 20, 12, 34),
 NaT,
 datetime.datetime(2022, 7, 2, 0, 42, 16),
 NaT,
 datetime.datetime(2022, 7, 1, 20, 41, 22),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 20, 9, 28),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 0, 45, 28),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 20, 2, 34),
 NaT,
 datetime.datetime(2022, 7, 2, 0, 21, 43),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 22, 33, 21),
 datetime.datetime(2022, 7, 1, 21, 32, 23),
 NaT,
 datetime.datetime(2022, 7, 2, 1, 5, 26),
 datetime.datetime(2022, 7, 1, 22, 31, 10),
 datetime.datetime(2022, 7, 1, 23, 28, 15),
 datetime.datetime(2022, 7, 2, 0, 36, 6),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 22, 15, 48),
 datetime.datetime(2022, 7, 1, 22, 17, 50),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 21, 26, 42),
 NaT,
 datetime.datetime(2022, 7, 1, 22, 23, 40),
 NaT,
 datetime.datetime(2022, 7, 2, 0, 53, 47),
 NaT,
 datetime.datetime(2022, 7, 1, 21, 48, 54),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 0, 38, 29),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 21, 51, 30),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 1, 23, 29, 21),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 0, 5, 47),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 1, 0, 9),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 1, 25, 29),
 NaT,
 datetime.datetime(2022, 7, 2, 1, 42, 49),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 0, 12, 11),
 datetime.datetime(2022, 7, 2, 1, 6, 24),
 datetime.datetime(2022, 7, 2, 2, 23, 39),
 datetime.datetime(2022, 7, 2, 1, 40, 13),
 NaT,
 datetime.datetime(2022, 7, 2, 0, 21, 51),
 NaT,
 datetime.datetime(2022, 7, 2, 2, 42, 26),
 datetime.datetime(2022, 7, 2, 0, 54, 13),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 2, 32, 18),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 2, 4, 8),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 2, 44, 27),
 NaT,
 datetime.datetime(2022, 7, 2, 0, 5, 8),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 1, 10, 18),
 datetime.datetime(2022, 7, 2, 1, 15, 12),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 1, 9, 39),
 datetime.datetime(2022, 7, 2, 3, 21, 56),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 2, 51, 33),
 datetime.datetime(2022, 7, 2, 0, 43, 50),
 NaT,
 datetime.datetime(2022, 7, 2, 1, 20, 18),
 NaT,
 datetime.datetime(2022, 7, 2, 1, 29, 4),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 3, 24, 20),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 1, 34, 12),
 NaT,
 datetime.datetime(2022, 7, 2, 2, 16, 18),
 datetime.datetime(2022, 7, 2, 4, 22, 20),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 3, 44, 55),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 3, 30, 42),
 NaT,
 datetime.datetime(2022, 7, 2, 4, 3, 31),
 datetime.datetime(2022, 7, 2, 4, 31, 51),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 5, 47, 5),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 4, 30, 22),
 datetime.datetime(2022, 7, 2, 4, 29, 15),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 4, 4, 55),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 5, 53, 39),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 5, 57, 15),
 NaT,
 datetime.datetime(2022, 7, 2, 5, 55, 15),
 datetime.datetime(2022, 7, 2, 6, 28, 48),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 6, 43, 19),
 NaT,
 datetime.datetime(2022, 7, 2, 6, 34, 55),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 7, 12, 43),
 NaT,
 datetime.datetime(2022, 7, 2, 6, 26, 56),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 7, 5, 13),
 datetime.datetime(2022, 7, 2, 7, 23, 48),
 NaT,
 datetime.datetime(2022, 7, 2, 7, 13, 48),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 10, 42, 19),
 NaT,
 datetime.datetime(2022, 7, 2, 9, 57, 16),
 datetime.datetime(2022, 7, 2, 10, 51, 32),
 datetime.datetime(2022, 7, 2, 10, 28, 34),
 NaT,
 datetime.datetime(2022, 7, 2, 9, 55, 59),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 10, 13, 46),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 13, 20, 48),
 datetime.datetime(2022, 7, 2, 10, 41, 39),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 10, 43, 54),
 NaT,
 datetime.datetime(2022, 7, 2, 10, 8, 17),
 datetime.datetime(2022, 7, 2, 10, 55, 59),
 datetime.datetime(2022, 7, 2, 10, 8, 22),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 11, 44, 23),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 10, 49, 10),
 datetime.datetime(2022, 7, 2, 12, 22, 38),
 datetime.datetime(2022, 7, 2, 12, 28, 53),
 datetime.datetime(2022, 7, 2, 12, 33, 33),
 datetime.datetime(2022, 7, 2, 11, 5, 41),
 datetime.datetime(2022, 7, 2, 10, 22, 57),
 datetime.datetime(2022, 7, 2, 12, 36),
 NaT,
 datetime.datetime(2022, 7, 2, 12, 50, 19),
 datetime.datetime(2022, 7, 2, 12, 32, 11),
 datetime.datetime(2022, 7, 2, 12, 42, 37),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 13, 9),
 datetime.datetime(2022, 7, 2, 14, 11, 43),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 13, 52, 26),
 datetime.datetime(2022, 7, 2, 12, 23, 3),
 datetime.datetime(2022, 7, 2, 13, 46, 8),
 NaT,
 datetime.datetime(2022, 7, 2, 15, 46, 34),
 NaT,
 datetime.datetime(2022, 7, 2, 14, 23, 29),
 datetime.datetime(2022, 7, 2, 13, 29, 39),
 NaT,
 datetime.datetime(2022, 7, 2, 11, 54, 11),
 datetime.datetime(2022, 7, 2, 15, 30, 56),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 13, 43),
 datetime.datetime(2022, 7, 2, 14, 56, 59),
 datetime.datetime(2022, 7, 2, 11, 31, 4),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 15, 47),
 datetime.datetime(2022, 7, 2, 13, 47, 20),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 15, 1, 22),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 13, 31, 33),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 15, 2, 35),
 NaT,
 datetime.datetime(2022, 7, 2, 13, 59, 36),
 NaT,
 datetime.datetime(2022, 7, 2, 15, 34, 36),
 datetime.datetime(2022, 7, 2, 12, 59, 54),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 15, 6, 4),
 NaT,
 datetime.datetime(2022, 7, 2, 15, 50, 28),
 datetime.datetime(2022, 7, 2, 14, 37, 25),
 NaT,
 datetime.datetime(2022, 7, 2, 14, 37, 46),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 14, 0, 27),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 15, 37, 20),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 16, 1, 16),
 datetime.datetime(2022, 7, 2, 15, 47, 3),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 15, 28, 55),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 15, 54, 37),
 datetime.datetime(2022, 7, 2, 15, 47, 10),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 14, 58, 17),
 datetime.datetime(2022, 7, 2, 15, 8, 18),
 datetime.datetime(2022, 7, 2, 15, 48, 45),
 datetime.datetime(2022, 7, 2, 15, 52, 6),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 15, 59, 21),
 datetime.datetime(2022, 7, 2, 15, 55, 20),
 datetime.datetime(2022, 7, 2, 16, 7, 33),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 17, 41, 42),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 16, 27, 19),
 datetime.datetime(2022, 7, 2, 18, 18, 23),
 datetime.datetime(2022, 7, 2, 17, 28, 3),
 NaT,
 datetime.datetime(2022, 7, 2, 18, 2, 23),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 18, 23, 34),
 datetime.datetime(2022, 7, 2, 18, 38, 13),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 16, 47, 52),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 18, 31, 27),
 NaT,
 datetime.datetime(2022, 7, 2, 17, 58, 51),
 datetime.datetime(2022, 7, 2, 18, 44, 4),
 datetime.datetime(2022, 7, 2, 17, 26, 8),
 datetime.datetime(2022, 7, 2, 18, 2, 59),
 NaT,
 datetime.datetime(2022, 7, 2, 17, 43, 31),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 19, 9, 50),
 datetime.datetime(2022, 7, 2, 18, 21, 42),
 datetime.datetime(2022, 7, 2, 18, 43, 33),
 datetime.datetime(2022, 7, 2, 19, 31, 37),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 19, 43, 39),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 19, 39, 36),
 datetime.datetime(2022, 7, 2, 18, 28, 17),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 20, 6, 50),
 NaT,
 datetime.datetime(2022, 7, 2, 19, 58, 26),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 18, 22, 14),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 19, 1, 9),
 NaT,
 datetime.datetime(2022, 7, 2, 21, 54, 15),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 21, 44, 1),
 NaT,
 datetime.datetime(2022, 7, 2, 23, 10, 58),
 NaT,
 datetime.datetime(2022, 7, 2, 20, 59, 19),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 21, 38, 39),
 datetime.datetime(2022, 7, 3, 0, 16, 34),
 NaT,
 datetime.datetime(2022, 7, 2, 21, 23, 33),
 NaT,
 datetime.datetime(2022, 7, 2, 22, 16, 39),
 datetime.datetime(2022, 7, 3, 1, 12, 41),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 22, 23, 47),
 datetime.datetime(2022, 7, 2, 22, 11, 20),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 21, 27, 29),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 0, 17, 26),
 NaT,
 datetime.datetime(2022, 7, 2, 21, 28, 29),
 NaT,
 datetime.datetime(2022, 7, 3, 0, 36, 37),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 21, 46, 34),
 datetime.datetime(2022, 7, 2, 22, 4, 45),
 datetime.datetime(2022, 7, 3, 1, 43, 10),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 23, 41, 54),
 datetime.datetime(2022, 7, 3, 0, 58, 44),
 NaT,
 datetime.datetime(2022, 7, 2, 22, 55, 26),
 NaT,
 datetime.datetime(2022, 7, 2, 22, 26, 19),
 datetime.datetime(2022, 7, 2, 22, 47, 42),
 datetime.datetime(2022, 7, 2, 22, 49, 38),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 0, 38, 38),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 2, 23, 35, 41),
 datetime.datetime(2022, 7, 3, 0, 56, 29),
 NaT,
 datetime.datetime(2022, 7, 3, 0, 12, 37),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 1, 12, 59),
 NaT,
 datetime.datetime(2022, 7, 2, 23, 54, 41),
 datetime.datetime(2022, 7, 3, 0, 25, 35),
 datetime.datetime(2022, 7, 2, 23, 6, 45),
 datetime.datetime(2022, 7, 3, 1, 31, 51),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 1, 16, 59),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 1, 7, 5),
 NaT,
 datetime.datetime(2022, 7, 2, 22, 44, 49),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 0, 1, 20),
 NaT,
 datetime.datetime(2022, 7, 3, 3, 19, 51),
 NaT,
 datetime.datetime(2022, 7, 3, 2, 16, 20),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 1, 19, 27),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 2, 35, 1),
 datetime.datetime(2022, 7, 3, 1, 8, 4),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 3, 55, 48),
 NaT,
 datetime.datetime(2022, 7, 3, 5, 42, 17),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 1, 58, 56),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 3, 0, 12),
 datetime.datetime(2022, 7, 3, 5, 34, 50),
 datetime.datetime(2022, 7, 3, 4, 43, 47),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 3, 32, 48),
 datetime.datetime(2022, 7, 3, 2, 8, 2),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 5, 41, 11),
 datetime.datetime(2022, 7, 3, 3, 13, 42),
 datetime.datetime(2022, 7, 3, 4, 18, 31),
 datetime.datetime(2022, 7, 3, 3, 32, 30),
 NaT,
 datetime.datetime(2022, 7, 3, 4, 30, 32),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 3, 7, 23),
 datetime.datetime(2022, 7, 3, 4, 31, 43),
 datetime.datetime(2022, 7, 3, 3, 48, 57),
 NaT,
 datetime.datetime(2022, 7, 3, 4, 29, 33),
 NaT,
 datetime.datetime(2022, 7, 3, 4, 9, 51),
 NaT,
 datetime.datetime(2022, 7, 3, 5, 43, 42),
 datetime.datetime(2022, 7, 3, 6, 9, 49),
 datetime.datetime(2022, 7, 3, 5, 50, 8),
 datetime.datetime(2022, 7, 3, 5, 52, 33),
 NaT,
 datetime.datetime(2022, 7, 3, 5, 53, 57),
 datetime.datetime(2022, 7, 3, 5, 38, 55),
 datetime.datetime(2022, 7, 3, 5, 56, 13),
 datetime.datetime(2022, 7, 3, 5, 57, 11),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 4, 59, 23),
 NaT,
 datetime.datetime(2022, 7, 3, 5, 53, 16),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 6, 13),
 datetime.datetime(2022, 7, 3, 6, 18, 16),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 7, 45, 55),
 NaT,
 datetime.datetime(2022, 7, 3, 5, 58),
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 6, 52, 44),
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 4, 13, 3, 6),
 NaT,
 datetime.datetime(2022, 7, 3, 6, 54, 38),
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 7, 34, 23),
 NaT,
 datetime.datetime(2022, 7, 3, 8, 32, 6),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 9, 51, 37),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 datetime.datetime(2022, 7, 3, 9, 2, 18),
 datetime.datetime(2022, 7, 3, 9, 18, 44),
 NaT,
 datetime.datetime(2022, 7, 3, 9, 20, 39),
 NaT,
 datetime.datetime(2022, 7, 3, 8, 36, 27),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 ...]

In [104]:
data['RCEPECION_CORRE']=lista_fechas
data.head()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_6628\890597650.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['RCEPECION_CORRE']=lista_fechas

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION,RCEPECION_CORRE
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88.0,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16.0,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52.0,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,NaN,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00,NaT
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33.0,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29,2022-07-01 03:25:29

In [105]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               6839 non-null   float64
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
 11  RCEPECION_CORRE                    5259 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(8)
memory usage: 1.2+ MB

In [108]:
word1='BigData'
word2='BigData     '

print(word1.strip())
print(word2.strip())

BigData
BigData

In [113]:
word1='Big Data'
word1.replace(' ','')
word1='Big Data'
word1.replace(' ','-')
print(word1.upper())
print(word1.lower())
print(word1.capitalize())

BIG DATA
big data
Big data

In [115]:
col='LOCALIDAD'
data[col].value_counts()
data[col].unique()

array(['Suba', 'Rafael Uribe Uribe', 'Ciudad Bol¡var', 'Usaqu\x82n',
       'La Candelaria', 'Antonio Nari¤o', 'San Crist¢bal', 'Teusaquillo',
       'Kennedy', 'Usme', 'Bosa', 'Tunjuelito', 'Engativ\xa0',
       'Los M\xa0rtires', 'Fontib¢n', 'Chapinero', 'Puente Aranda',
       'Santa Fe', 'Barrios Unidos', 'Sumapaz'], dtype=object)

In [116]:
import re 

txt='Los Martires'
re.search(".*tires",txt)